body{
  background-color:wheat;
}

.balloon{
  height: 120px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
}


.card{
  background-color: white;
  padding: 1em;
  box-shadow: 2px 0 8px rgba(0,0,0,.3);
}







.hidden{
  display: none !important;

}